<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" 
             "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- JDBC Configuration details -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/hrms2</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">admin2255</property>

		<!-- Hibernate property configuration -->
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		
		<property name="hibernate.cache.region.factory_class">jcache</property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.javax.cache.uri">ehcache.xml</property>
        <property name="hibernate.generate_statistics">true</property>

		<property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
		<property name="hibernate.dataSource.driverClassName">org.postgresql.Driver</property>
		<property name="hibernate.dataSource.user">postgres</property>
		<property name="hibernate.dataSource.password">admin2255</property>
		<property name="hibernate.dataSource.jdbcUrl">jdbc:postgresql://localhost:5432/hrms2</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">50</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="hibernate.c3p0.max_statements">5</property>

		<!-- HikariCP Connection Pooling -->

		<!-- Registration model classes -->
		<mapping class="org.acumen.training.codes.model.Project" />
		<mapping
			class="org.acumen.training.codes.model.ProjectMembers" />
		<mapping class="org.acumen.training.codes.model.Insurance" />
		<mapping class="org.acumen.training.codes.model.InsuranceId" />
		<mapping class="org.acumen.training.codes.model.Manager" />

	</session-factory>
</hibernate-configuration>